:root {
    --bg-gray: #F9FAFF;
    --font-high-emphasis: #25282B;
    --size-base: 4px;
    --content-width-max: 1200px;
    --shadow-light: rgba(112, 144, 176, 0.1);
  }
  


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    row-gap: calc(var(--size-base)*20);
  }
  
  .projects__list {
    display: flex;
    flex-direction: column;
  
    row-gap: calc(var(--size-base)*20);
  
    max-width: calc(var(--size-base)*248);
  }
  
  .card {
    display: flex;
  
    width: 100%;
    max-width: calc(var(--size-base)*248);
    max-height: calc(var(--size-base)*131);
  
    border-radius: 24px;
    box-shadow: 0 6px 64px var(--shadow-light);
    overflow: hidden;
  }
  
  .card__content {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  
    padding: calc(var(--size-base)*12);
  
    row-gap: calc(var(--size-base)*6);
  }
  
  .card__content .btn {
    margin-right: auto;
  }

  .btn {
    background: none;
    border: none;
    outline-width: 0px;
  
    padding: calc(var(--size-base)*2) calc(var(--size-base)*6);
  }
  
  .btn_primary, .btn_outline {
    border-radius: 8px;
  }
  
  .btn_primary {
    background: var(--brand-yellow);
  }
  
  .btn_outline {
    border: 2px solid var(--font-high-emphasis);
  }
  
  .btn_round {
    border: 1px solid var(--font-high-emphasis);
    border-radius: 24px;
  }
  